/* All text style */
body{
  font-family: 'Open Sans', sans-serif;
}

/* part:1 Hadder section styles */

.hadder{
  background-color: #FFF8F3;
  background-image: url('../image/imgs2.png');

}

/* all button color */
.primary-color{
  color: #FD6E0A;
}
.primary-button{
    border-radius: 5px;
    background: #FD6E0A;
    border:0;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 10px 35px;
}

/* all navigation(nv) */

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 200px;
}

.title{
  color:#181818 ;
  font-size: 45px;
  font-weight: 800px;
  
}

nav > ul{
  display: flex;
  align-items: center;
}

nav li {
  list-style: none;
  margin-right: 50px;
}

.banner{
  padding: 30px 30px 0px 150px;
  display: flex;
  align-items: center;
}
.profile-picture{
  width: 500px;
}

.banner-greeting{
  font-size: 45px;
  color: #474747;
  margin-bottom: 0%;

}
.banner-title{
  font-size: 50px;
  font-weight: 700;
  margin-top: 5px;
}

/* part-2: main section style */
     
        .title{
          color: #181818;
          text-align: center;
          font-size: 35px;
          font-weight: 700;
        }

        .discription{
          color: #474747;
          text-align: center;
          font-weight: 700;
        }


 /* 2.2 About sectio style */
      
        .about{
          padding: 50px;
          border-radius: 10px;
          background: #FFF8F3;
          margin: 40px 130px;;
          justify-items: center;

        }
        
       .about-items{
        display: flex;
        text-align: center;
        margin:0 130px;

      
       }

       .about-item{
        padding:20PX;
       }

       .about-titel{
        font-size: small;
        font-weight:normal;
        color:gray;
       }
 
 /*2.3 Skills Section */
       
       .skills{
        margin: 40px 130px;
        padding: 50px;
       }

       .section-title{
        font-size: 35px;
       }

       .text-center{
        text-align: center;
       }

       .skill-items{
        display: flex;
        padding: 10px;

       }


       .skill-items{
        display: flex;
        gap: 24px;
      
       }

       .skill{
        padding: 30px;
        background:white;
        border-radius: 5px;
        font-size: small;
        box-shadow: 0px 6px 50px 0px rgba(0,0,0,0.06);
       }

       .skill-title{
        font-size: small;
        color: gray;
       }

 /*resume*/

       .section-resume-title{
        text-align: center;
        font-size: 35px;
       }

       .Resume{
        margin: 40px 130px;
        justify-items: center;
       }

       .resume-container{
        display: flex;
        gap: 20px;
       }

      .resume-title{
        font-size: 30px;
      }
      .resume-subtitle{
        font-size: 20px;
      }
      .resume-discription{
        font-size: 12px;
      }
      .downloadCV{
        margin: 50px;
      }

      .Project{
        margin:20px 120px  20px;
        background-color: rgb(249, 242, 232);
        padding: 20px;
        text-align: center;
      }

      
